.artWine {
    display: flex;
    max-width: 600px;
    margin: auto;
    align-items: center;
    padding-top: 100px;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.btn {
    background-color: rgb(113, 149, 215);
    margin: 10px;
    padding: 10px;
    color: white;
}

.btn:hover {
    background-color: rgb(196, 199, 255);
    color: white;
}

.imagenes {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagenes img {
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
}

@media (max-width:1000px) {
    .artWine {
        padding-top: 120px;
    }
}