.artWine {
    display: flex;
    max-width: 600px;
    margin: auto;
    align-items: center;
    padding-top: 100px;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.links{
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.imagenes {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagenes img {
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
}

@media (max-width:1000px) {
    .artWine {
        padding-top: 120px;
    }
}