* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0; /* Ajusta el margen del cuerpo según tus necesidades */
    padding: 0; /* Ajusta el relleno del cuerpo según tus necesidades */
  }
  
  .row,
  .container,
  .container-fluid {
    /* Elimina el margen y el relleno en estas clases solo si es necesario */
    margin: 0;
    padding: 0;
  }
  